<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3">
        <div class="mdc-card" data-vmkind="aws" style="cursor: pointer">
            <div class="card-body-padding">
                <h2 class="mdc-typography--headline6">AWS</h2>
            </div>
        </div>
    </div>
    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3">
        <div class="mdc-card" data-vmkind="azure" style="cursor: pointer">
            <div class="card-body-padding">
                <h2 class="mdc-typography--headline6">Azure</h2>
            </div>
        </div>
    </div>
  </div>
</div>